* {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main {
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 900px;
}

.main__info-logo {
  padding-top: 40px;
}

.main__info-title {
  text-align: center;
}

.main__title-slogan p {
  font-size: 18px;
  line-height: 25px;
}

.main__title-company h2 {
  font-size: 64px;
  line-height: 87px;
  font-variant: small-caps;
}

.main__title-company h3 {
  font-size: 42px;
  line-height: 57px;
}

.main__title-enroll a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.main__contact {
  padding-bottom: 50px;
}

.main__contact-links a {
  padding: 0px 10px 0px 10px;
}

.title__enroll-arrow {
  position: relative;
  top: 35px;
  left: -120px;
}

.title__enroll-arrow a button {
  background: none;
  border: #FFFFFF solid 2.5px;
  padding: 35px 25px 35px 25px;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.title__enroll-arrow a button:hover {
  background: #A9A32A;
}

.services__title {
  padding: 100px 0px 50px 0px;
}

.services__title h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
}

.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__text-block h5 {
  width: 510px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}

.info__text-block p {
  width: 480px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
}
