* {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h4 {
  font-size: 24px;
  color: #868585;
}

h5 {
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    width: 100%;
    padding: 0px 30px;
  }
}

@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
    width: 100%;
    padding: 0px 16px;
  }
}

@media all and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0px 18px;
  }
}

.main {
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 960px;
}

.main__info-logo {
  padding-top: 40px;
}

.main__info-title {
  text-align: center;
}

.main__title-slogan p {
  font-size: 18px;
  line-height: 25px;
}

.main__title-company h2 {
  font-size: 64px;
  line-height: 87px;
  font-variant: small-caps;
}

.main__title-company h3 {
  font-size: 42px;
  line-height: 57px;
}

.main__title-enroll a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.main__contact {
  padding-bottom: 50px;
}

.main__contact-links a {
  padding: 0px 10px 0px 10px;
}

.title__enroll-arrow {
  position: relative;
  top: 35px;
  left: -120px;
}

.title__enroll-arrow a button {
  background: none;
  border: #FFFFFF solid 2.5px;
  padding: 35px 25px 35px 25px;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.title__enroll-arrow a button:hover {
  background: #A9A32A;
}

.services {
  padding: 150px 0px 150px 0px;
}

.services__title {
  padding-bottom: 50px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__description h4 {
  width: 324px;
}

.services__description-text h5 {
  width: 450px;
}

.services__description-text p {
  width: 520px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
}

.services__img img {
  width: 100%;
}

.text__block-number p {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #868585;
}

.rate {
  padding-bottom: 150px;
}

.rate__title {
  padding-bottom: 60px;
}

.rate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.rate__nav {
  word-spacing: 40px;
}

.rate__nav a {
  font-weight: 400;
  font-size: 18px;
  color: #303030;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.rate__nav a:hover {
  border-bottom: 1px solid #303030;
}

.rate__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate__thumbnail-img {
  padding-right: 40px;
}

.rate__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate__action p {
  font-size: 14px;
  line-height: 19px;
  color: #303030;
  width: 70%;
}

.rate__action-img img {
  padding-right: 10px;
}

.rate__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 40px;
}

.rate__advantage-text {
  width: 235px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
}

.rate__definition {
  width: 50%;
}

.rate__definition-text p {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}

.rate__definition-img img {
  width: 100%;
}

.action__img-reverce {
  padding-right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quote {
  background-image: url(../img/qoute/bgquote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 586px;
}

.quote__title h2 {
  padding: 160px 230px;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  color: #FFFFFF;
}

.aside__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside__meta h5 {
  width: 490px;
}

.aside__meta-text {
  padding-left: 40px;
}

.aside__meta-text p {
  padding-bottom: 16px;
}

.clients__title {
  padding: 150px 0px 50px 0px;
}

.info__img-arrow {
  padding: 10px 0px 0px 280px;
}

.arrow__reverce {
  padding-right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button__control-arrow a {
  font-size: 18px;
  color: #303030;
  padding: 40px;
}

.button__control-arrow a button {
  position: relative;
  top: -20px;
  left: -386px;
  background: none;
  border: #303030 solid 2.5px;
  padding: 35px 25px 35px 25px;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button__control-arrow a button:hover {
  background: #A9A32A;
}

.footer {
  background-image: url(../img/footer/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #FFFFFF;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 650px;
  padding-top: 70px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}

.footer__form-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__form-request h5 {
  font-size: 24px;
  color: #FFFFFF;
}

.footer__input {
  border-bottom: 1px solid #FFFFFF;
  width: 550px;
}

.footer__input input {
  background: transparent;
  border: none;
  border-bottom: 2px #fff;
  color: #fff;
  outline: none;
  padding-bottom: 10px;
}

.footer__input input::-webkit-input-placeholder {
  color: #fff;
}

.footer__input input:-ms-input-placeholder {
  color: #fff;
}

.footer__input input::-ms-input-placeholder {
  color: #fff;
}

.footer__input input::placeholder {
  color: #fff;
}

.footer__enroll a {
  padding-left: 40px;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__enroll-arrow {
  position: relative;
  top: 35px;
  left: -45px;
}

.footer__enroll-arrow a button {
  background: none;
  border: #FFFFFF solid 2.5px;
  padding: 35px 25px 35px 25px;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.footer__enroll-arrow a button:hover {
  background: #A9A32A;
}

.footer__form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__form-contact h5 {
  font-size: 24px;
  color: #FFFFFF;
}

.footer__copyrigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyrigth a {
  color: #FFFFFF;
}

.footer__copyrigth-socials a img {
  padding-left: 10px;
}
