* {
  padding: 0;
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  color: #868585;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
}


body {
  font-family: 'Noto Sans', sans-serif;

}


.container {
  width: 1200px;
  margin: 0 auto;
}


// header начало
.main {
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 960px;
  }

  &__info-logo {
    padding-top: 40px;
  }

  &__info-title {
    text-align: center;
  }

  &__title-slogan {
    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  &__title-company {
    h2 {
      font-size: 64px;
      line-height: 87px;
      font-variant: small-caps;
    }
    h3 {
      font-size: 42px;
      line-height: 57px;
    }
  }

  &__title-enroll {
    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  &__contact {
    padding-bottom: 50px;
  }

  &__contact-links {
    a {
      padding: 0px 10px 0px 10px;
    }
  }
}

.main {

  &__title-enroll {
    
  }
}
.title {

  &__enroll-arrow {
    position: relative;
    top: 35px;
    left: -120px;
    a button {
      background: none;
      border: #FFFFFF solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }
    a button:hover {
      background: #A9A32A;
    }
  }
}
// header конец

//service начало
.services {

  &__title {
    padding: 100px 0px 50px 0px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      width: 324px;
    }
  }

  &__text-img {
  }
}

.info {

  &__text-block {
    p
    {
      width: 520px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #303030;
    }
  }
}

.text {

  &__block-number {
    p {
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #868585;
    }
  }
}

// service конец

//green rate начало
.rate {
  padding: 160px 0px 150px 0px;

  &__info {
    
  }

  &__wrapper-info {
    padding-top: 60px;
  }
}


.info {
  &__wrapper-block {
    display: flex;
  }
}
.wrapper {

  &__block-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}
.block {

  &__one-link {
    word-spacing:36px;
    a {
      font-weight: 400;
      font-size: 18px;
      color: #303030;
      transition: 0.25s;
    }
    a:hover {
      border-bottom: 1px solid #303030;
    }
  }

  &__one-desc {
    display: flex;
    justify-content: space-between;
  }
  &__one-lead {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 40px;
    
  }
}
.one {

  &__desc-img {
    width: 45%;
  }

  &__desc-excerpt {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      width: 82%;
    }
  }

  &__lead-pros {
    width: 235px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #303030;
    }
  }
}

.desc {

  &__excerpt-img {
    padding-right: 10px;
  }
}

.arrow {

  &__reverce {
    padding-right: 20px;
    transform: rotate(180deg);
  }
}

.text {
  &__block-two {
    width: 50%;
    p {
      padding-bottom: 30px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #303030;
    }
  }
}
//green rate конец

// quote начало
.quote {
  background-image: url(../img/qoute/bgquote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 586px;  
  &__text {
    h2 {
      padding: 160px 230px;
      font-weight: 400;
      font-size: 42px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}
// quote конец

// aside начало
.aside {
  padding-bottom: 180px;
  &__clients {
    display: flex;
    justify-content: space-between;
  }

  &__clients-info {
  }

  &__info-img {
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      width: 490px;
    }
  }

  &__meta-text {  
    padding-left: 40px;
    p {
      padding-bottom: 16px;
    }
  }


  &__button-enroll {
  }
}

.clients {

  &__title {
    padding: 150px 0px 50px 0px;
  }
}
.info {

  &__img-arrow {
    padding: 10px 0px 0px 280px;
  }
}
.arrow {

  &__reverce {
    padding-right: 20px;
    transform: rotate(180deg);
  }
}

.button {

  &__control-arrow {
    a {
      font-weight: 400;
      font-size: 18px;
      color: #303030;
      padding: 40px;
    }
    a button {
      position: relative;
      top: -20px;
      left: -386px;
      background: none;
      border: #303030 solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }

    a button:hover {
      background: #A9A32A;
    }
  }
}

// aside конец

// footer начало
.footer {
  background-image: url(../img/footer/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #FFFFFF;
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
    padding-top: 70px;
  }

  &__reg {
    display: flex;
    justify-content: space-between;
    height: 400px;
  }

  &__reg-request {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      font-size: 24px;
      color: #FFFFFF;
    }

  }

  &__input {
    border-bottom: 1px solid#FFFFFF;
    width: 550px;
    input {
      background: transparent;
      border: none;
      border-bottom: 2px #fff;
      color: #fff;
      outline: none;
      padding-bottom: 10px;
    }
    input::placeholder{
      color: #fff;
    }
  }


  &__enroll {
    a {
        padding-left: 40px;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  &__enroll-arrow {
    position: relative;
    top: 35px;
    left: -45px;

    a button {
      background: none;
      border: #FFFFFF solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }
    a button:hover {
      background: #A9A32A;
    }
  }

  &__reg-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      font-size: 24px;
      color: #FFFFFF;
    }
  }

  &__copyrigth {
    a {
      color: #FFFFFF;
    }
    display: flex;
    justify-content: space-between;
  }

  &__copyrigth-socials {
    a img {
      padding-left: 10px;
    }
  }
}

// footer