* {
  padding: 0;
  margin: 0;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h4 {
  font-size: 24px;
  color: #868585;
}

h5 {

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}


body {
  font-family: 'Noto Sans', sans-serif;

}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media all and(max-width: 1200px) {
    max-width: 1140px;
    width: 100%;
    padding: 0px 30px;
  }
  @media all and(max-width: 992px) {
    max-width: 960px;
    width: 100%;
    padding: 0px 16px;
  }
  @media all and(max-width: 576px) {
    width: 100%;
    margin: 0;
    padding: 0px 18px;

  }
}


// header начало
.main {
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 960px;
  }

  &__info-logo {
    padding-top: 40px;
  }

  &__info-title {
    text-align: center;
  }

  &__title-slogan {
    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  &__title-company {
    h2 {
      font-size: 64px;
      line-height: 87px;
      font-variant: small-caps;
    }
    h3 {
      font-size: 42px;
      line-height: 57px;
    }
  }

  &__title-enroll {
    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  &__contact {
    padding-bottom: 50px;
  }

  &__contact-links {
    a {
      padding: 0px 10px 0px 10px;
    }
  }
}

.main {

  &__title-enroll {
    
  }
}
.title {

  &__enroll-arrow {
    position: relative;
    top: 35px;
    left: -120px;
    a button {
      background: none;
      border: #FFFFFF solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }
    a button:hover {
      background: #A9A32A;
    }
  }
}
// header конец

//service начало
.services {
  padding: 150px 0px 150px 0px;
  &__title {
    padding-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      width: 324px;
    }
  }

  &__description-text {
    h5 {
      width: 450px;
    }
    p{
      width: 520px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #303030;
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }
}

.text {

  &__block-number {
    p {
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #868585;
    }
  }
}
// service конец

//rate начало
.rate {
  padding-bottom: 150px;
  &__title {
    padding-bottom: 60px;
  }

  &__wrapper {
    display: flex;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  &__nav {
    word-spacing: 40px;
    a {
      font-weight: 400;
      font-size: 18px;
      color: #303030;
      transition: 0.25s;
    }
    a:hover {
      border-bottom: 1px solid #303030;
    }
  }

  &__thumbnail {
    display: flex;
    justify-content: space-between;
  }

  &__thumbnail-img {
    padding-right: 40px;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 14px;
      line-height: 19px;
      color: #303030;
      width: 70%;
    }
  }

  &__action-img {
    img {
      padding-right: 10px;
    }
  }

  &__advantage {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 40px;
  }

  &__advantage-text {
    width: 235px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #303030;
  }

  &__definition {
    width: 50%;
  }

  &__definition-text {
    p {
      padding-bottom: 30px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #303030;
    }
  }

  &__definition-img {
    img {
      width: 100%;
    }
  }
}

.action {
  &__img-reverce {
    padding-right: 20px;
    transform: rotate(180deg);
  }
}

//rate конец

// quote начало
.quote {
  background-image: url(../img/qoute/bgquote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 586px;  
  &__title {
    h2 {
      padding: 160px 230px;
      font-weight: 400;
      font-size: 42px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}
// quote конец

// aside начало
.aside {
  &__clients {
    display: flex;
    justify-content: space-between;
  }

  &__clients-info {
  }

  &__info-img {
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      width: 490px;
    }
  }

  &__meta-text {  
    padding-left: 40px;
    p {
      padding-bottom: 16px;
    }
  }


  &__button-enroll {
  }
}

.clients {

  &__title {
    padding: 150px 0px 50px 0px;
  }
}
.info {

  &__img-arrow {
    padding: 10px 0px 0px 280px;
  }
}
.arrow {

  &__reverce {
    padding-right: 20px;
    transform: rotate(180deg);
  }
}

.button {

  &__control-arrow {
    a {
      font-size: 18px;
      color: #303030;
      padding: 40px;
    }
    a button {
      position: relative;
      top: -20px;
      left: -386px;
      background: none;
      border: #303030 solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }

    a button:hover {
      background: #A9A32A;
    }
  }
}

// aside конец

// footer начало
.footer {
  background-image: url(../img/footer/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #FFFFFF;
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
    padding-top: 70px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    height: 400px;
  }

  &__form-request {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      font-size: 24px;
      color: #FFFFFF;
    }

  }

  &__input {
    border-bottom: 1px solid#FFFFFF;
    width: 550px;
    input {
      background: transparent;
      border: none;
      border-bottom: 2px #fff;
      color: #fff;
      outline: none;
      padding-bottom: 10px;
    }
    input::placeholder{
      color: #fff;
    }
  }


  &__enroll {
    a {
        padding-left: 40px;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  &__enroll-arrow {
    position: relative;
    top: 35px;
    left: -45px;

    a button {
      background: none;
      border: #FFFFFF solid 2.5px;
      padding: 35px 25px 35px 25px;
      border-radius: 50%;
      transition: 0.25s;
    }
    a button:hover {
      background: #A9A32A;
    }
  }

  &__form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5 {
      font-size: 24px;
      color: #FFFFFF;
    }
  }

  &__copyrigth {
    a {
      color: #FFFFFF;
    }
    display: flex;
    justify-content: space-between;
  }

  &__copyrigth-socials {
    a img {
      padding-left: 10px;
    }
  }
}
// footer